<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Dojo Survey</title>
</head>
<body class="bg-dark">
    <div class="card m-5 bg-warning">
        <h1 class=""card-header">Dojo Survey</h1>
        <form class='form card-body' action='/process' method='post'>
            <div class="form-group">
                <label for='name'>Your Name:</label>
                <input 
                    type='text' 
                    name='name' 
                    class="form-control" 
                    placeholder="Your Name"
                >
            </div>
            <div class="form-group">
                <label>Dojo Location:</label>
                <label for="location">
                    <input type="radio" for="location" name="location" value="Bellevue">
                    Bellevue
                </label>
                <label for="Chicago">
                    <input type="radio" name="location" for="location" value="Chicago">
                    Chicago
                </label>
                <label for ="San Francisco">
                    <input type="radio" name="location" for="location" value="San Francisco">
                    San Francisco
                </label>
            </div>
            <!-- <div class="form-group">
                <label for='language'>Favorite Language:</label>
                <select 
                    class="form-control" 
                    name="language" 
                    id="language">
                    <option value="python">Python</option>
                    <option value="java">Java</option>
                    <option value="c++">C++</option>
                </select>
            </div> -->
            <div class=""form-group>
                <input for = "language" type="checkbox" id="language" name="language" value="Python">
                <label for="language">Python</label><br>
                <input for = "language" type="checkbox" id="language" name="language" value="Java">
                <label for="language">Java</label><br>
                <input for = "language" type="checkbox" id="language" name="language" value="C++">
                <label for="language">C++</label><br>
            </div>
            <div class="formgroup">
                <label for='comment'>Comment (optional)</label>
                <textarea
                    class="form-control" 
                    type='text' 
                    name = 'comment'
                    for = "comment"
                    >
                </textarea>
            </div>
            <div>
                <button class="btn btn-primary btn-block type="submit" value='process'>Submit</button>
            </div>
        </form>
    </div>
</body>
</html>